<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>年会抽奖</title>
    <link rel="stylesheet" href="./lottery.css">
</head>
<body>
<div id="app" class="background">
    <div class="title">2024年会幸运大抽奖</div>
    <div class="effects-container"></div>

    <img  class="drgon" src="./drgon.webp" >

    <!-- 左侧灯笼组合 -->
    <div class="lantern lantern-left">
        <img src="./2.png" alt="灯笼底部" class="image1">
        <img src="./3.png" alt="灯笼顶部" class="image2">
    </div>

    <!-- 右侧灯笼组合 -->
    <div class="lantern lantern-right">
        <img src="./2.png" alt="灯笼底部" class="image1">
        <img src="./3.png" alt="灯笼顶部" class="image2">
    </div>

    <div class="winner-panel" :class="{ flash: showFlash }">
        <div class="winner-panel-title">中奖名单</div>

        <!-- 一等奖 -->
        <div class="prize-category first-prize">
            <div class="prize-header">
                <div class="prize-icon"></div>
                <span>一等奖</span>
            </div>
            <div v-for="(winner, index) in winners[1]" :key="'1-' + index" class="winner-name">
                {{ typeof winner === 'object' ? winner.name : winner }}
            </div>
        </div>

        <!-- 二等奖 -->
        <div class="prize-category second-prize">
            <div class="prize-header">
                <div class="prize-icon"></div>
                <span>二等奖</span>
            </div>
            <div v-for="(winner, index) in winners[2]" :key="'2-' + index" class="winner-name">
                {{ typeof winner === 'object' ? winner.name : winner }}
            </div>
        </div>

        <!-- 三等奖 -->
        <div class="prize-category third-prize">
            <div class="prize-header">
                <div class="prize-icon"></div>
                <span>三等奖</span>
            </div>
            <div v-for="(winner, index) in winners[3]" :key="'3-' + index" class="winner-name">
                {{ typeof winner === 'object' ? winner.name : winner }}
            </div>
        </div>

        <div class="winner-panel-overlay">
            <div class="overlay-top"></div>
            <div class="overlay-bottom"></div>
        </div>
    </div>

    <!-- 右下角图片 -->
    <img src="./1.webp" alt="图片" class="corner-image"  style="opacity: 0.1;" >

    <div class="name current-name" :class="{ rolling: isRolling, winner: showCelebration }">{{ currentName }}</div>
    <div class="celebration-container" v-if="showCelebration"></div>

    <div class="button-group">
        <button @click="toggleRoll(1)" :disabled="remainingCounts[1] === 0 || !canDraw(1)">
            {{ remainingCounts[1] === 0 ? '抽奖结束' :( isRolling && currentLevel === 1 ? '停止' : '抽取一等奖' ) }} ({{ remainingCounts[1] }})
        </button>
        <button @click="toggleRoll(2)" :disabled="remainingCounts[2] === 0 || !canDraw(2)">
            {{ remainingCounts[2] === 0 ? '抽奖结束' :( isRolling && currentLevel === 2 ? '停止' : '抽取二等奖' ) }} ({{ remainingCounts[2] }})
        </button>
        <button @click="toggleRoll(3)" :disabled="remainingCounts[3] === 0 || !canDraw(3)">
            {{ remainingCounts[3] === 0 ? '抽奖结束' :( isRolling && currentLevel === 3 ? '停止' : '抽取三等奖' ) }} ({{ remainingCounts[3] }})
        </button>
    </div>

    <audio id="rollSound"  preload="auto" loop>
        <source src="./1.MP3" type="audio/mpeg">
    </audio>

    <div id="help-button">
        使用说明
    </div>
    <div id="help-box">
        <p>1.按顺序抽取三等奖、二等奖、一等奖。</p>
        <p>2.每个奖项抽取完毕后，才可继续抽取下一个奖项</p>
        <p>3.使用<span style="font-weight: bold">ctrl+r </span>快捷键清除所有中奖记录。</p>
    </div>

</div>

<script src="./vue.js"></script>
<script src="./lottery.js"></script>
</body>
</html>
